<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Central de Notícias
  </h1>
  <div class="container h-100 d-flex justify-content-center">
    <div class="jumbotron my-auto" *ngIf="!exibeCadastro">
      <button (click)='troca()' class="botaoMais" type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nova Notícia
      </button>
      <app-listar-noticias></app-listar-noticias>
    </div>
  </div>
  <div class="container h-100 d-flex justify-content-center">
    <div class="jumbotron my-auto" *ngIf="exibeCadastro">
      <button (click)='troca()' class="botaoMais" type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> << Voltar
    </button>
    <br><br>
      <app-criar-noticia></app-criar-noticia>

    </div>
  </div>
</div>