<div class="noticia" *ngFor="let noticia of noticias">
  <div class="card text-center">
    <div class="card-header">
      {{noticia.informativo}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{noticia.titulo}}</h5>
      <p class="card-text">{{noticia.noticia}}</p>
      <button (click)='delete(noticia.id)' class="botaoMais" type="button" class="btn btn-primary">Remover</button>
    </div>
    <div class="card-footer text-muted">
      {{noticia.autor}} - {{noticia.data}}
    </div>
  </div>
</div>